<!-- <div class="header">
  Hi, I'm Anthony.
</div> -->

<div class="row">
  
  <div class="large-7 columns">
    <h2 class="title">Anthony Pinto</h2>
  </div>
  
  <div class="large-5 columns icons-column">
    <div class="icon-bar three-up">
      <a
				href="#projects"
        class="item projects-mode"
        data-mode="projects-mode">
        <i class="fi-lightbulb"></i>
        <label>Projects</label>
      </a>
      <a
				href="#skills"
        class="item skills-mode"
        data-mode="skills-mode">
        <i class="fi-wrench"></i>
        <label>Skills</label>
      </a>
      <a 
				href="#"
        class="item me-mode"
        data-mode="me-mode">
        <i class="fi-torso-business"></i>
        <label>Me</label>
      </a>
    </div>
  </div>

  
</div>
<div class="row">
  <div class="small-12 columns">

    <div 
      class="content-wrapper"
      data-mode="projects-mode">
      <div class="content"></div>
    </div>
  </div>
</div>


<%= javascript_include_tag "application" %>