<!-- <div class="header">
  Hi, I'm Anthony.
</div> -->

<div class="row">
  
  <div class="large-7 columns">
    <h2 class="title">Anthony Pinto</h2>
  </div>
  
  <div class="large-5 columns icons-column">
    <div class="icon-bar three-up">
      <a class="item highlighted projects-mode">
        <i class="fi-lightbulb"></i>
        <label>Projects</label>
      </a>
      <a class="item">
        <i class="fi-wrench"></i>
        <label>Skills</label>
      </a>
      <a class="item">
        <i class="fi-torso-business"></i>
        <label>Me</label>
      </a>
    </div>
  </div>

  
</div>
<div class="row">
  <div class="small-12 columns">

    <div class="content-wrapper projects-mode">
      <div class="content"></div>
    </div>
  </div>
</div>