<article id="resume-wrapper">
	<section>
		<h1>Anthony Pinto</h1>
		<p></p>
		
		
		<div class="row">
			<div class="small-12 medium-2 columns">
				<strong>Email</strong>
			</div>
			<div class="small-12 medium-10 columns">
				<a href="mailto:anthonyepinto@gmail.com">anthonyepinto@gmail.com</a>
			</div>
					
			<div class="small-12 medium-2 columns">
				<strong>Portfolio</strong>
			</div>
			<div class="small-12 medium-10 columns">
				<a href="http://www.anthonyepinto.com">www.anthonyepinto.com</a>
			</div>

			<div class="small-12 medium-2 columns">
				<strong>Linkedin</strong>
			</div>
			<div class="small-12 medium-10 columns">
				<a href="http://www.linkedin.com/in/anthonyepinto">www.linkedin.com/in/anthonyepinto</a>
			</div>
		
			<div class="small-12 medium-2 columns">
				<strong>Github</strong>
			</div>
			<div class="small-12 medium-10 columns">
				<a href="https://www.github.com/AnthonyPinto">github.com/AnthonyPinto</a>
			</div>
		</div>
	</section>
	<section>
		<h3>Skills</h3>
		<hr>
		<div class="row">
			<strong>
			<div class="small-6 medium-3 large-2 columns">
				Ruby
			</div>
			<div class="small-6 medium-3 large-2 columns">
				Ruby on Rails
			</div>
			<div class="small-6 medium-3 large-2 columns">
				Python
			</div>
			<div class="small-6 medium-3 large-2 columns">
				JavaScript
			</div>
			<div class="small-6 medium-3 large-2 columns">
				jQuery
			</div>
			<div class="small-6 medium-3 large-2 columns">
				Backbone.js
			</div>
			<div class="small-6 medium-3 large-2 columns">
				HTML
			</div>
			<div class="small-6 medium-3 large-2 columns">
				CSS
			</div>
			<div class="small-6 medium-3 large-2 columns">
				Git
			</div>
			<div class="small-6 medium-3 large-2 columns">
				Github
			</div>
			<div class="small-6 medium-3 large-2 columns">
				SQL
			</div>
			<div class="small-6 medium-3 large-2 columns">
				PostgreSQL
			</div>
			</strong>
		</div>
	</section>
	<section>
		<h3>Projects</h3>
		<hr>
		
		<h5><strong>Starbnb</strong> Clone of Airbnb (Backbone.js, Ruby on Rails)</h5>
		<p class="show-for-medium-up">
			<a href="http://www.starbnb.net">www.starbnb.net</a>
			 | 
			<a href="https://github.com/AnthonyPinto/starbnb">github.com/AnthonyPinto/starbnb</a>
		</p>
		<p class="show-for-small-only">
			<a href="http://www.starbnb.net">www.starbnb.net</a>
		</p>
		<p class="show-for-small-only">
			<a href="https://github.com/AnthonyPinto/starbnb">github.com/AnthonyPinto/starbnb</a>
		</p>
		<ul>
			<li>Integrates Google Maps JavaScript API for responsive listing filtration</li>
			<li>Customized view/router structure allows for instant feedback on login forms</li>
			<li>Modified Backbone model parsing and nested JSON minimize Ajax queries</li>
		</ul>
		
		<h5><strong>Sharks-in-Space</strong> Asteroids game (JavaScript)</h5>
		<p class="show-for-medium-up">
			<a href="http://www.anthonyepinto.com/sharks">www.anthonyepinto.com/sharks</a>
			 | 
			<a href="https://github.com/AnthonyPinto/sharks_in_space">github.com/AnthonyPinto/sharks_in_space</a>
		</p>
		<p class="show-for-small-only">
			<a href="http://www.anthonyepinto.com/sharks">www.anthonyepinto.com/sharks</a>
		</p>
		<p class="show-for-small-only">
			<a href="https://github.com/AnthonyPinto/sharks_in_space">github.com/AnthonyPinto/sharks_in_space</a>
		</p>
		<ul>
			<li>JavaScript prototype inheritance for dry moving-object modelling</li>
			<li>Light-weight implementation using HTML5 canvas tag</li>
		</ul>
		
		<h5><strong>Mini-Rails</strong> Rails clone (Ruby)</h5>
		<p><a href="https://github.com/AnthonyPinto/mini_rails">github.com/AnthonyPinto/mini_rails</a></p>
		<ul>
			<li>Request URL parsing, and controller response</li>
			<li>Persistent session flash data and CSRF tokens, allowing more complex data handling</li>
			<li>Custom RSpec with full coverage of flash functionality</li>
		</ul>
		
	</section>
	<section>
		<h3>Work Experience</h3>
		<hr>
		
		<div class="row">
			<div class="small-12 medium-9 columns">
				<h5><strong>Office Assistant Michael L. Johnson LLC</strong>, Davis, CA</h5>
			</div>
			<div class="small-12 medium-3 columns">
				<h5 class="date"><strong>2013-2014</strong></h5>
			</div>
		</div>
		<ul>
			<li>
				Negotiated with contractors and vendors, reducing the cost of property 
				maintenance and in-office purchases, which lowered overhead for the 
				company.
			</li>
			<li>
				Proactively identified and addressed administrative needs in the 
				office, which reduced time loss for technical and executive staff.
			</li>
			<li>
				Organized five ecotourism trips at 25% ($8k) under budget, with 
				unanimously positive participant feedback.
			</li>
		</ul>
		
		<div class="row">
			<div class="small-12 medium-9 columns">
				<h5><strong>Social Services Assistant Davis Healthcare Center</strong>, Davis, CA</h5>
			</div>
			<div class="small-12 medium-3 columns">
				<h5 class="date"><strong>2013-2014</strong></h5>
			</div>
		</div>
		<ul>
			<li>
				Scheduled and led Interdisciplinary Team meetings, which facilitated 
				coordination between departments and individual residents, resulting in 
				a unified plan of care for each resident.
			</li>
			<li>
				Conducted initial interviews with new residents to evaluate and address 
				their individual needs, resulting in improved quality of life for 
				residents.
			</li>
			<li>
				Established new interdepartmental system for managing transportation 
				requests, which increased efficiency and prevented scheduling errors.
			</li>
		</ul>
	</section>
	<section>
		<h3>Education</h3>
		<hr>
		
		<div class="row">
			<div class="small-12 medium-8 columns">
				<h5><strong>App Academy</strong>, 12-week full-time programming intensive</h5>
			</div>
			<div class="small-12 medium-4 columns">
				<h5 class="date"><strong>2014</strong></h5>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-8 columns">
				<h5><strong>Bennington College</strong>, BA in Conflict Resolution and Social Sciences</h5>
			</div>
			<div class="small-12 medium-4 columns">
				<h5 class="date"><strong>2011</strong></h5>
			</div>
		</div>
		
	</section>
</article>

