/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

.centered-text {
	text-align:center;
}

body {
  background-image: url('bg1.png')
}

.title {
  color:white;
  font-size:2.5em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 12px;
  text-align: center;
}

.icons-column {
  margin-bottom: -6px;
}

.icon-bar a{
	height:67px;
}

.icon-bar i{
	transition: font-size 0.5s;
}

a.highlighted{
//  border:2px rgba(255,255,255,0.1) solid;
//  border-bottom:none;
  border:none;
}

a.highlighted label {
	display:none;
}

a.highlighted i {
	font-size:45px;
	transition: font-size 0.5s;
}

a.projects-mode:hover {
  background-color: rgba(200, 100, 100 ,1);
}

a.highlighted.projects-mode, .content-wrapper.projects-mode {
  background-color: rgba(200, 100, 100 ,1);
  transition: background-color 0.5s;
}


a.skills-mode:hover {
  background-color: rgba(100, 200, 100 ,1);
}

a.highlighted.skills-mode, .content-wrapper.skills-mode {
  background-color: rgba(100, 200, 100 ,1);
  transition: background-color 1s;
}

a.me-mode:hover {
  background-color: rgba(100, 100, 200 ,1);
}

a.highlighted.me-mode, .content-wrapper.me-mode {
  background-color: rgba(100, 100, 200 ,1);
  transition: background-color 1s;
}

.content-wrapper {
  width: 100%;
//  border:2px rgba(255,255,255,0.1) solid;
//  border-radius:2px;
}

.mode-title {
  display:hidden;
  color: white;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
}

.projects {
  margin:0 15px;
  padding-top: 15px;
}

.project {
	overflow: hidden;
  background-color: white;
  border-radius:2px;
  border:15px rgba(255,255,255,1) solid;
}

div.row.project-title-row {
	border-bottom: 1px grey solid;
	margin-bottom: 8px;
}

.project-title {
  display: inline;
}

div.row.project-content-row {

}

.project-image {
  display: block;
	border:2px black solid;
}

.skills {
  margin:0 15px;
  padding-top: 15px;
}

div.row.skills-list {
		background-color:white;
		margin:0px;
		border-radius:2px;

}

.skill-brief {
	background-color:#AAFFAA;
	padding:5px 15px;
	width:100%;
	display:block;
	margin:5px auto;
	text-align:center;
	color:white;
}

.skill-brief:nth-child(2){
	background-color:#BBFFBB;
}

.skill-brief:nth-child(3){
	background-color:#CCFFCC;
}

.skill-brief:nth-child(4){
	background-color:#DDFFDD;
}

.skill-brief:last-child{
	margin-bottom:30px;
}

.skill-icon {
	height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.skill-name {
	margin-bottom:30px;
}

.learning {
	margin:0;
	position:relative;
	top:-38px;
}



