<div class="row">
  <div class="small-8 columns">
    <h1 class="mode-title"></h1>
  </div>
</div>

<div class="row me-content">
	<div class="small-8 small-offset-2 medium-3 medium-offset-0 columns">
	<img
		src="assets/anthony.jpg">
	</div>
	<div class="small-12 medium-9 columns">
	  <p>I am a web developer based in San Francisco and the bay area. I have experience with designing and deploying rails websites with javascript based front-end interactivity. </p>
    <p>I'm currently available for employment, so if you are looking to expand your team, feel free to shoot me an email.</p>
    <a href="mailto:anthonyepinto@gmail.com">
      anthonyepinto@gmail.com
    </a>
    <span>|</span>
    <a href="https://www.linkedin.com/in/anthonyepinto">
      linkedin
    </a>
	</div>
</div>