<ul class="small-block-grid-1 medium-block-grid-2">
  <li>
    <div class="project">
      <h3>starbnb</h3>
      <a href="https://www.starbnb.net">Live</a>
      <a href="http://github.com/AnthonyPinto/starbnb">Github</a>
      <h5 class="subheader">Airbnb clone in Backbone over Rails</h5>
    </div>
  </li>
  <li>
    <div class="project">
      <h3>Jello</h3>
      <h5 class="subheader">Trello clone in Backbone over Rails</h5>
    </div>
  </li>
  <li>
    <div class="project">
      <h3>Sharks in Space</h3>
      <h5 class="subheader">Asteroids in Javascript and HTML5 canvas</h5>
    </div>
  </li>
  <li>
    <div class="project">
      <h3>Mini Rails</h3>
      <h5 class="subheader">Rails clone</h5>
    </div>
  </li>
  <li>
    <div class="project">
      <h3>Chat</h3>
      <h5 class="subheader">Node.js live chat app</h5>
    </div>
  </li>
</ul>