<div class="row">
  <div class="small-8 columns">
    <h1 class="mode-title"></h1>
  </div>
</div>


<ul class="small-block-grid-1 medium-block-grid-2">
  <li>
    <div class="project">
      <h3 class="project-title">Starbnb</h3>
      <span>
      <a href="http://www.starbnb.net">Live</a>
      |
      <a href="https://github.com/AnthonyPinto/starbnb">Github</a>
      </span>

			<div class="row">
				<div class="small-6 columns">
					<a href="http://www.starbnb.net">
		      <img
		        class="project-image"
		        src="assets/starbnb.png">
		      </a>
				</div>
				<div class="small-6 columns">
	      	<h5 class="subheader">Airbnb clone (Backbone, Rails, Bootstrap)</h5>
				</div>
			</div>
    </div>
  </li>
  <li>
    <div class="project">
      <h3 class="project-title">Sharks in Space</h3>
      <span>
      <a href="https://github.com/AnthonyPinto/sharks_in_space">Github</a>
      </span>
			<div class="row">
				<div class="small-6 columns">
		      <img
		        class="project-image"
		        src="assets/sharks_in_space.png">
				</div>
				<div class="small-6 columns">
    			<h5 class="subheader">Asteroids (Javascript, HTML5 canvas)</h5>
				</div>
			</div>
    </div>
  </li>
  <li>
    <div class="project">
      <h3 class="project-title">Mini Rails</h3>
      <span>
      <a href="https://github.com/AnthonyPinto/mini_rails">Github</a>
      </span>
			<div class="row">
				<div class="small-6 columns">
		      <img
		        class="project-image"
		        src="assets/mini_rails.png">
				</div>
				<div class="small-6 columns">
      		<h5 class="subheader">Rails clone (Ruby)</h5>
				</div>
			</div>
    </div>
  </li>
  <li>
    <div class="project">
      <h3 class="project-title">This Site!</h3>
      <h5 class="subheader">Mobile Friendly. (Backbone, Rails, Foundation) </h5>
    </div>
  </li>
</ul>