<div class="row">
  <div class="small-8 columns">
    <h1 class="mode-title"></h1>
  </div>
</div>

<div class="row skills-list">
	<div class="medium-6 small-12 columns">
		<div class="row">
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/ruby.png">
				<h5>Ruby</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/ruby_on_rails.png">
				<h5>Rails</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/javascript.png">
				<h5>JavaScript</h5>
			</div>
		</div>
	</div>
	<div class="medium-6 small-12 columns">
		<div class="row">
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/jquery.png">
				<h5>jQuery</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/backbone.png">
				<h5>Backbone</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/angular.png">
				<h5>Angular(learning)</h5>
			</div>
		</div>
	</div>
	
	<div class="medium-6 small-12 columns">
		<div class="row">
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/python.png">
				<h5>Python</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/postgres.png">
				<h5>Postgres</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/git.png">
				<h5>Git</h5>
			</div>
		</div>
	</div>
	
	<div class="medium-6 small-12 columns">
		<div class="row">
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/html.png">
				<h5>HTML</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/css.png">
				<h5>CSS</h5>
			</div>
			<div class="small-4 columns">
				<img
					class="skill-icon"
					src="assets/icons/node.png">
				<h5>Node.js</h5>
			</div>
		</div>
	</div>
</div>
	

      <li>HTML</li>
      <li>CSS</li>
    </ul>
    
  </div>
</div>