<div class="row">
  <div class="small-8 columns">
    <h1 class="mode-title"></h1>
  </div>
</div>

<div class="row skills-list">
	<div class="small-12">
		<div class="skill-brief"><h4>Web Development</h4></div>
		<div class="skill-brief"><h4>Restful App Design</h4></div>
		<div class="skill-brief"><h4>Agile Methodologies</h4></div>
		<div class="skill-brief"><h4>Test Driven Development</h4></div>

	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/ruby.png">
		<h5 class="skill-name centered-text">Ruby</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/ruby_on_rails.png">
		<h5 class="skill-name centered-text">Rails</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/javascript.png">
		<h5 class="skill-name centered-text">JavaScript</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/jquery.png">
		<h5 class="skill-name centered-text">jQuery</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/backbone.png">
		<h5 class="skill-name centered-text">Backbone</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/node.png">
		<h5 class="skill-name centered-text">Node.js</h5>
	</div>

	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/python.png">
		<h5 class="skill-name centered-text">Python</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/postgres.png">
		<h5 class="skill-name centered-text">PostgreSQL</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/git.png">
		<h5 class="skill-name centered-text">Git</h5>
	</div>

	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/html.png">
		<h5 class="skill-name centered-text">HTML</h5>
	</div>
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/css.png">
		<h5 class="skill-name centered-text">CSS</h5>
	</div>
	
	<div class="small-4 medium-3 large-2 columns">
		<img
			class="skill-icon"
			src="assets/icons/angular.png">
		<h5 class="skill-name centered-text">Angular</h5>
		<h5 class="subheader centered-text learning">(learning)</h5>
	</div>
	
</div>
	